.adminPage {
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
}

.progress {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color:red;
}
.adminTop {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}

.adminBot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adminPageItem {
    padding-bottom: 15em;
}


.root {
    width: 100%;
}
.paper {
    /*margin-top: theme.spacing(3);*/
    width: 100%;
    overflow-x: auto;
    /*marginBottom: theme.spacing(2);*/
}

.table {
    min-width: 650px;
}

.table_group{
    display: flex;
    flex-direction: row;
}

input:invalid {
    background-color: #ffdddd;
}

#docURL {
    display: flex;
    flex-direction: column;
}
